@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimalistic scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Hide scrollbar when not scrolling */

  
  /* Optional: Hide scrollbar but keep functionality */
  /* Uncomment this if you want to completely hide the scrollbar but keep scrolling functionality
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  */


@media (max-width: 640px) {
    .upload-pdf{
        display: none;
    }
}